.login-form {
  width: 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  margin: 0.2rem;
}

.login-btn {
  width: 70%;
}

.login-message {
  color: red;
}