.about-section {
  text-align: center;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  width: 80%;
  max-width: 20rem;
  margin: auto;
  padding: 1rem;
}