.contact-section {
  text-align: center;
}

.contact-map, .contact-text, .contact-picture {
  /* border: 1px solid blue; */
  padding: 1rem;
  min-height: 20rem;
}

.contact-text, .contact-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-img {
  width: 90%;
}

.contact-icon {
  width: 3rem;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: flex;
  align-items: center;
}

.social-icon {
  width: 3rem;
}