.contact-section {
  text-align: center;
}

.contact-map, .contact-text, .contact-picture {
  /* border: 1px solid blue; */
  padding: 1rem;
  min-height: 20rem;
}

.contact-text, .contact-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-img {
  width: 70%;
  /* https://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 100, 0, 0.502);
  -moz-box-shadow: 0px 10px 15px 0px hsla(120, 100%, 20%, 0.502);
  box-shadow: 0px 10px 15px 0px rgba(0, 100, 0, 0.502);
}

.contact-icon {
  width: 3rem;
}