.navbar-elements {
  display: contents;
}

.navbar-logo {
  width: 2rem;
  margin: 0 1rem;
}

.navbar-nav {
  text-align: center;
}

.navbar-collapse {
  justify-content: flex-end;
}

.bg-hassana {
  background: #daf3cf;  
  background: -webkit-linear-gradient(to right, #f1f5ed, #d1ebc5); 
  background: linear-gradient(to right, #f1f5ed, #d1ebc5);
  text-transform: uppercase;
  font-weight: 600;
}

.btn-image {
  max-width: 1.5rem;
}