.services-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.service {
  padding: 0.1rem 1rem;
}

.service-picture {
  display: flex;
  height: 15rem;
}

.service-img {
  margin: auto;
  max-width: 85%;
  max-height: 85%; 
  /* https://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 100, 0, 0.502);
  -moz-box-shadow: 0px 10px 15px 0px hsla(120, 100%, 20%, 0.502);
  box-shadow: 0px 10px 15px 0px rgba(0, 100, 0, 0.502);
}