.picture-slogan {
  position: relative;
  /* display: flex; */
}

.image-slogan {
  /* display: flex; */
  width: 100%;
  max-height: 50rem;
}

.picture-loading {
  max-width: 20rem;
  margin: 5rem auto;
}


