picture{
  display: flex;
}

.slogan-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.picture-slogan {
  position: relative;
}

.image-slogan {
  width: 100%;
  max-height: 50rem;
  opacity: 0.9;
}

.picture-loading {
  max-width: 20rem;
  margin: 5rem auto;
}


