.testimonial-section {
  text-align: center;
}

.testimonial {
  border: 1px solid blue;
  padding: 1rem;
  margin: 1rem;
}

.testimonial-img {
  width: 60%;
  margin: auto;
}

.testimonial-text {
  display: flex;
  align-items: center;
}