.testimonials-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.testimonial {
  padding: 1rem;
  margin: 1rem;
}

.testimonial-img {
  width: 60%;
  margin: auto;
}

.testimonial-text {
  display: flex;
  align-items: center;
}