.testimonials-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.testimonial {
  padding: 1rem;
  margin: 0 1rem;
}
.testimonial-picture {
  height: 20rem;
}

.testimonial-img {
  max-height: 90%;
  max-width: 100%;
  width: auto !important;
  margin: auto;
}

.testimonial-text {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

/* CSS Slider */

.slide {
  background: #daf3cf !important;  
  background: -webkit-linear-gradient(to right, #f1f5ed, #d1ebc5) !important; 
  background: linear-gradient(to right, #f1f5ed, #d1ebc5) !important;
}

.control-arrow {
  background: #7bbb7b !important;
}

.control-arrow:hover {
  opacity: 0.7 !important;
}

.control-dots {
  padding: 0;
}
